AlignConsecutiveShortCaseStatements:
  AcrossComments: true
  AcrossEmptyLines: true
  AlignCaseColons: false
  Enabled: true
AllowShortCaseLabelsOnASingleLine: true
BasedOnStyle: Microsoft
IndentCaseBlocks: true
IndentCaseLabels: true
IndentWidth: 4
InsertBraces: true
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: CaseSensitive